* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Outfit', sans-serif;
}

.header {
  height: 80px;
  // background-color: #ccc;
  padding: 16px 64px;
  &-logo {
    margin-right: 77px;
    width: 34px;
    height: 34px;
  }
  &-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-menu {
      display: flex;
      gap: 16px;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-right: 354px;
      height: 27px;
      position: relative;
      li {
        list-style: none;
        a {
          display: inline-block;
          cursor: pointer;
          text-decoration: none;
          color: #111111;
          font-size: 18px;
          &:hover {
            color: #3a6150;
          }
        }
        i {
          width: 0;
          height: 18px;
          border: 1px solid #111111;
        }
      }
      .drop-down-arrow{
        cursor: pointer;
        position: absolute;
        right: -26px;
      }
    }
  }
  &-search {
    background-color: #fff;
    border: 2px solid #3a6150;
    border-radius: 2px 0 0 2px;
    width: 424px;
    height: 48px;
    display: flex;
    input {
      width: 376px;
      height: inherit;
      border: none;
      padding: 0 16px;
      background-color: transparent;
      color: rgba(58, 97, 80, 0.7);
      font-size: 18px;
      font-style: normal;
      &:focus {
        outline: none;
      }
    }
    button {
      background-color: #3a6150;
      color: #fff;
      border: none;
      width: 48px;
      cursor: pointer;
    }
  }
}

.hero{
  display: flex;
  padding: 24px 64px 60px;
  align-items: center;
  justify-content: space-between;
  background-color: #f9f9f9;
  &-content {
    width: 647px;
    margin-right: 18px;
    h1 {
      color: #3a6150;
      font-size: 48px;
      margin-bottom: 36px;
    }
    h2 {
      color: #3a6150;
      font-size: 24px;
      font-weight: 500;
      margin-bottom: 12px;
    }
    p {
      font-size: 14px;
      margin-bottom: 36px;
    }
    button {
      border: none;
      border-radius: 2px;
      width: 196px;
      height: 48px;
      cursor: pointer;
      background-color: #3a6150;
      font-size: 18px;
      color: #ffffff
    }
  }
}

.about-us {
  display: flex;
  padding: 80px 64px;
  justify-content: space-between;
  .card {
    background-color: #3a6150;
    width: 647px;
    padding: 24px 24px 35px;
    display: flex;
    gap: 18px;
    color: #ffffff;
    &-content {
      width: 400px;
      position: relative;
      h3 {
        font-size: 18px;
        margin-bottom: 12px;
      }
      p {
        font-size: 14px;
      }
      &-link {
        position: absolute;
        bottom: 0px;
        color: #ffffff;
        a {
          color: inherit;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}