* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Outfit', sans-serif;
}

.header {
  height: 80px;
  padding: 16px 64px;
  &-logo {
    margin-right: 77px;
    width: 34px;
    height: 34px;
  }
  &-nav {
    display: flex;
    // justify-content: space-between;
    align-items: center;
    &-menu {
      display: flex;
      gap: 16px;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-right: 349px;
      height: 27px;
      position: relative;
      li {
        list-style: none;
        a {
          display: inline-block;
          cursor: pointer;
          text-decoration: none;
          color: #111111;
          font-size: 18px;
          &:hover {
            color: #3a6150;
          }
        }
      }
      span {
        margin-left: 12px;
        cursor: default;
      }
      .drop-down-arrow {
        cursor: pointer;
        position: absolute;
        right: -26px;
      }
    }
  }
  &-search {
    background-color: #fff;
    border: 2px solid #3a6150;
    border-radius: 2px 0 0 2px;
    width: 424px;
    height: 48px;
    display: flex;
    input {
      width: 376px;
      height: inherit;
      border: none;
      padding: 0 16px;
      background-color: transparent;
      color: rgba(58, 97, 80, 0.7);
      font-size: 18px;
      font-style: normal;
      &:focus {
        outline: none;
      }
    }
    button {
      background-color: #3a6150;
      color: #fff;
      border: none;
      width: 48px;
      cursor: pointer;
    }
  }
}

.hero {
  display: flex;
  padding: 24px 64px 60px;
  // align-items: center;
  // justify-content: space-between;
  background-color: #f9f9f9;
  &-content {
    width: 647px;
    margin-right: 18px;
    h1 {
      color: #3a6150;
      font-size: 48px;
      margin-bottom: 34px;
      margin-top: 161px;
    }
    h2 {
      color: #3a6150;
      font-size: 24px;
      font-weight: 500;
      margin-bottom: 12px;
    }
    p {
      font-size: 14px;
      margin-bottom: 36px;
      width: 536px;
      line-height: 21px;
    }
    button {
      border: none;
      border-radius: 2px;
      width: 196px;
      height: 48px;
      cursor: pointer;
      background-color: #3a6150;
      font-size: 18px;
      color: #ffffff;
    }
  }
}

.about-us {
  display: flex;
  padding: 78px 64px;
  justify-content: space-between;
  .card {
    background-color: #3a6150;
    width: 647px;
    padding: 24px 24px 35px;
    display: flex;
    gap: 18px;
    color: #ffffff;
    &-content {
      width: 400px;
      position: relative;
      h3 {
        line-height: 150%;
        font-size: 18px;
        margin-bottom: 12px;
      }
      p {
        line-height: 150%;
        font-size: 14px;
      }
      &-link {
        position: absolute;
        bottom: 0px;
        color: #ffffff;
        font-size: 14px;
        a {
          color: inherit;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.contact-us {
  background-color: #71837b;
  padding: 80px 64px 120px;
  &-card {
    display: flex;
    background: #ffffff;
    border-radius: 12px;
    height: 637px;
  }
  &-info {
    width: 592px;
    padding: 42px 48px 48px 42px;
    border-radius: 12px;
    position: relative;
    z-index: 1;
    margin-right: -13px;
    h2 {
      font-size: 48px;
      margin-bottom: 14px;
    }
    &-image {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }
    &-text {
      font-size: 14px;
      line-height: 21px;
      margin-bottom: 56px;
    }
    &-contact {
      display: flex;
      flex-direction: column;
      gap: 19px;
      &-wrapper {
        display: flex;
        align-items: center;
        img {
          width: 24px;
          margin-right: 24px;
        }
        p {
          font-size: 14px;
        }
      }
    }
    &-socials {
      margin-top: 232px;
      width: 168px;
      display: flex;
      justify-content: space-between;
      img {
        width: 32px;
      }
    }
  }
  &-form {
    padding: 48px 20px 48px 28px;
    display: inline-block;
    width: 100%;
    position: relative;
    form {
      width: inherit;
      .form-input-wrap {
        border: none;
        display: flex;
        flex-flow: wrap;
        gap: 28px 18px;
        .form-input {
          display: flex;
          flex-direction: column;
          width: 48.9%;
          label {
            font-size: 14px;
            line-height: 20px;
            margin-bottom: 9px;
            span {
              color: red;
            }
          }
          input {
            padding: 12px 12px 12px 8px;
            border-radius: 3px;
            border: 1px solid #111111;
            width: 100%;
            &:focus {
              border: 2px solid #3a6150;
              outline: none;
            }
          }
          &-dropdown {
            width: 100%;
            display: flex;
            border: 1px solid #111111;
            border-radius: 3px;
            align-items: center;
            &:focus-within {
              border: 2px solid #3a6150;
            }
            #area-code {
              border: none;
              font-family: inherit;
              margin-left: 10px;
              &:focus {
                outline: none;
              }
            }
            p {
              color: rgba(17, 17, 17, 0.5);
              cursor: default;
              margin-left: 7px;
            }
            #phone {
              border: none;
              font-family: inherit;
              margin-left: 7px;
              &:focus {
                outline: none;
              }
            }
          }
        }
      }
      .form-input-radio-buttons {
        display: flex;
        border: none;
        align-items: center;
        margin-top: 35px;
        margin-bottom: 36px;
        gap: 39px;
        label {
          font-size: 14px;
          color: #131516;
          input[type='radio'] {
            display: none;
            & + *::before {
              content: '';
              display: inline-block;
              vertical-align: bottom;
              width: 16px;
              height: 16px;
              border-radius: 50%;
              border: 2px solid #111111;
              margin-right: 10px;
              margin-left: 10px;
              cursor: pointer;
            }
            &:checked + *::before {
              background: radial-gradient(
                #3a6150 0%,
                #3a6150 40%,
                transparent 50%,
                transparent
              );
              border-color: #3a6150;
            }
          }
          span {
            font-size: 14px;
          }
          &:focus-within::before {
            outline: 2px solid #3a6150;
          }
        }
      }
      .form-textarea {
        display: flex;
        flex-direction: column;
        border: none;
        margin-bottom: 37px;
        label {
          margin-bottom: 8px;
          line-height: 20px;
          font-size: 14px;
        }
        textarea {
          height: 104px;
          border: 1px solid #111111;
          border-radius: 3px;
          font-family: inherit;
          padding: 12px 8px;
          resize: none;
          outline: none;
          &:focus {
            border: 1px solid #3a6150;
            outline: none;
          }
        }
      }
      .form-checkbox {
        border: none;
        display: flex;
        gap: 48px;
        label {
          font-family: inherit;
          display: flex;
          gap: 15px;
          &:first-child {
            margin-left: 11px;
          }
        }
        input[type='checkbox'] {
          appearance: none;
          cursor: pointer;
          margin: 0;
          font: inherit;
          width: 1.15em;
          height: 1.15em;
          border: 0.15em solid #8392a6;
          border-radius: 0.15em;
          display: grid;
          place-content: center;
          &::before {
            content: '';
            width: 0.65em;
            height: 0.65em;
            transform: scale(0);
            transition: 120ms transform ease-in-out;
            box-shadow: inset 1em 1em #fff;
            transform-origin: bottom left;
            clip-path: polygon(
              14% 44%,
              0 65%,
              50% 100%,
              100% 16%,
              80% 0%,
              43% 62%
            );
          }
          &:checked {
            background-color: #3a6150;
            border-color: #3a6150;
            &::before {
              transform: scale(1);
            }
          }
        }
      }
      button {
        padding: 13px 41px;
        border: none;
        font-family: inherit;
        font-size: 18px;
        background-color: #3a6150;
        color: #fff;
        border-radius: 2px;
        position: absolute;
        bottom: 48px;
        right: 20px;
        cursor: pointer;
      }
    }
  }
}

.plantme {
  display: flex;
  padding: 24px 64px;
  &-newsletter {
    margin-right: 244px;
    h2 {
      font-size: 48px;
      line-height: 60px;
      margin-bottom: 20px;
    }
    p {
      font-size: 18px;
      line-height: 145%;
      margin-bottom: 31px;
    }
    form {
      display: flex;
      input {
        border: none;
        border-bottom: 1px solid #111111;
        width: 308px;
        padding-top: 17px;
        padding-bottom: 11px;
        font-family: inherit;
        font-size: 18px;
        outline: none;
        margin-right: 30px;
      }
      button {
        background-color: #3a6150;
        color: #fff;
        border: none;
        padding: 16px 58px;
        cursor: pointer;
        font-size: 18px;
      }
    }
  }
  &-links {
    margin-right: 236px;
    li {
      list-style: none;
      margin-bottom: 16px;
      a {
        text-decoration: none;
        color: #111111;
        font-size: 18px;
        line-height: 150%;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  &-info {
    p {
      font-size: 18px;
      line-height: 150%;
      margin-bottom: 8px;
    }
    .phone-num {
      color: rgba(0, 0, 0, 0.6);
    }
    a {
      color: rgba(0, 0, 0, 0.6);
      font-size: 18px;
    }
    .sponsors {
      display: flex;
      align-content: center;
      margin-top: 43px;
      gap: 35px;
    }
  }
}

.footer {
  display: grid;
  padding: 24px 64px;
  grid-template-columns: 1fr 1fr 1fr;
  p {
    text-align: center;
    grid-column: 2;
    font-size: 14px;
  }
  &-links {
    ul {
      display: flex;
      gap: 15px;
      justify-content: end;
      li {
        list-style: none;
        font-size: 14px;
        a {
          text-decoration: none;
          color: rgba(17, 17, 17, 0.8);
        }
      }
    }
  }
}
